
html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: $fuentePrincipal;
    font-size: 1.6rem;
}

h1, h2, h3 {
    margin: 0;
}

h1 {
    font-size: 4rem;
    font-weight: $black;
}

h2 {
    font-size: 3.6rem;
}

h3 {
    font-size: 3rem;
}

p {
    color: $negro;
}

a {
    text-decoration: none;
    font-size: 2rem;
}

img {
    max-width: 100%;
}

.contenedor {
    max-width: 120rem;
    width: 95%;
    margin: 0 auto;
}