.sobre-festival {
    padding: 3rem 0;

    @include tablet {
        @include grid(2, 2rem);
    }
}
.contenido-festival {
    display: flex;
    flex-direction: column;
    justify-content: center;

    h2 {
        font-size: 3rem;
    }
    .fecha {
        color: $rosa;
        font-weight: $bold;
    }
    .texto {
        margin: 1rem 0;
    }
}
