
.header {
    background-color: $verde;
    
    .contenido-header {
        padding: calc($separacion / 2) 0;
        @include tablet{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    h1 {
        color: $blanco;
        margin-bottom: 1rem;
        @include tablet {
            margin-bottom: 0;
        }
        text-align: center;
    }

    &.fijo {
        position: fixed;
        width: 100%;
        box-shadow: 0 0 .5rem .4rem rgba(68, 68, 68, 0.514);
    }
}

.navegacion-principal {
    display: flex;
    gap: 2rem;
    justify-content: center;
    a {
        color: $blanco;
        &:hover{
            color: $amarillo;
        }
    }
}